<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <link rel="stylesheet" th:href="@{/css/virus.css}"/>
</head>
<body>
    <div id="container">
        <div id="mapid"></div>
    </div>
    <script th:inline="javascript">
        var points = [[${points}]]

        var map = L.map('mapid').setView([53.8260, -2.4220], 2);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
         attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        points.forEach(value =>{
             if(value.province !== ""){
                L.marker([value.latitude, value.longitude]).addTo(map)
                    .bindPopup('country: ' + value.country +
                               '<br> province: ' + value.province +
                               '<br> recovered: ' + value.recovered +
                               '<br> deaths: ' + value.deaths +
                               '<br> confirmed: ' + value.confirmed)
                    .openPopup();
             }else{
                L.marker([value.latitude, value.longitude]).addTo(map)
                    .bindPopup('country: ' + value.country +
                               '<br> recovered: ' + value.recovered +
                               '<br> deaths: ' + value.deaths +
                               '<br> confirmed: ' + value.confirmed)
                    .openPopup();
            }
        });
    </script>
</body>
</html>